body {
  min-width: 360px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: black;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.App {
  max-width: 768px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}
